body{
    font-family:'Montserrat';
}

h2, h3{
    font-family: 'Montserrat',sans-serif;
    font-weight:bold;
    
}

h2{
    line-height: 2.5rem;
    font-size:2rem;
}

h3{
    font-size:1.5rem;
    line-height: 2.5rem;
}
p{
    color: #8f8f8f;
} 
.big-heading{
    font-weight: bold;
    font-size: 1.5rem;
}
.footer-icons{
    margin-bottom: 15px;
}

.copyright-text{
    line-height: 1rem;
}

i{
    margin-left: 15px;
}
.slogan{
    margin: 0% 15%;
    font-size: 2rem;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}


.feature-box{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.icon{
    color:#ff4c68;
    margin-bottom: 1rem;
}

.icon:hover{
    color:red;
}

.title{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    
}
.press-logo{
    width: 15%;
    margin:15px;
}

.carousel-item{
    padding: 7% 15%;
}


.navbar-brand{
    font-family:  'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
/* Css for embedded fonts


font-family: 'Ubuntu', sans-serif; */
.container-fluid{
    padding: 3% 15% 7%;
    
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
}

/* Buttons Download */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    width: 60%;
    transform:rotate(35deg);
    margin:0px 10%;
    position: absolute;
    
}

/* Features */


#features{
    padding: 7% 15%;
    position: relative;
   
    background-color: #fff;
   
}

#title{
    background-color: #ff4c68;
    color: #fff;
    
}

/* Testimonials */
#testimonials{

    background-color: #ff4c68;
    color: #fff;
    text-align: center;
   
}




#press{
    
    text-align: center;
    background-color: #ff4c68;
}


#pricing{
    padding: 100px;
    text-align: center;
}

.price-col{
    padding: 3% 2%;
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    font-style: 'Montserrat-Black',sans-serif;
    color:#fff;
    padding:10%
}



#footer{
    text-align: center;
    background-color: #fff;
   
    padding:5%
}
